/* ------ Module ------ */
/* ------ Color ------ */
/* ------ Font ------ */
/* ------ Banner ------ */
/* ------ Checkbox ------ */
/* ------ Social ------ */
/* ------ Delete ------ */
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------ Global settings ------ */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* ------ Container ------ */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 42px;
}

.container-darkGreen {
  background-color: #3F5D45;
}

.container-lightGreen {
  background-color: #EAF0ED;
}

@media (max-width: 767px) {
  .container {
    padding: 0;
  }
}

/* ------ Flex ------ */
.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-center-stretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: flex-stretch;
      -ms-flex-align: flex-stretch;
          align-items: flex-stretch;
}

.flex-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-sb-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-sb-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-sb-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-end-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ------ Order ------ */
.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

@media (max-width: 767px) {
  .order-mb-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 767px) {
  .order-mb-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  .order-mb-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 767px) {
  .order-mb-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

/* ---- logo ---- */
.logo-main {
  background: url(../img/logo-all-dark.svg) no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  width: 205px;
  height: 40px;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .logo-main {
    background-image: url(../img/logotype-sm-dark.svg);
    width: 114px;
    height: 18px;
  }
}

.logo-sm {
  max-width: 40px;
}

.logo-sm > img {
  width: 100%;
}

.logo-lg {
  max-width: 172px;
}

/* ---- vertical title text ---- */
.verticalTitle {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-family: 'Noto Serif TC', serif;
  line-height: 1.5;
  letter-spacing: .2em;
  color: #3F5D45;
}

.verticalTitle--sm {
  font-size: 24px;
  font-weight: normal;
}

.verticalTitle--lg {
  font-size: 28px;
  font-weight: normal;
}

@media (max-width: 767px) {
  .verticalTitle--lg {
    margin: 0 auto;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    text-align: center;
  }
}

/* ---- Cutomized spacing ---- */
.topbar {
  padding: 30px 0;
}

@media (max-width: 767px) {
  .topbar {
    padding: 0;
  }
}

/* ---- topbar ---- */
.topbar {
  position: relative;
  background-color: #fff;
}

@media (max-width: 767px) {
  .topbar {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
  }
}

.menu__item {
  position: relative;
}

.menu__item:before {
  content: '';
  width: 50%;
  height: 3px;
  background-color: #3F5D45;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.menu__item:hover:before {
  opacity: 1;
}

.menu__item-link {
  padding: 10px 30px;
  color: #3F5D45;
  font-size: 16px;
  font-weight: normal;
}

.menu__item-link:hover {
  color: #78a481;
}

.menu__item-link:hover > .cartIcon {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.menu__item-cart {
  margin: 0 -20px 0 20px;
}

@media (max-width: 767px) {
  .menu {
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    width: 100%;
    text-align: center;
  }
  .menu__item {
    width: 100%;
  }
  .menu__item + .menu__item {
    border-top: 2px solid #fff;
  }
  .menu__item-link {
    padding: 20px 30px;
    letter-spacing: .1em;
    background-color: #3F5D45;
    color: #fff;
  }
  .menu__item-cart {
    display: none;
  }
}

.cart-text {
  display: none;
}

@media (max-width: 767px) {
  .cart-text {
    display: inline-block;
  }
}

.cart-mobile {
  display: none;
}

@media (max-width: 767px) {
  .cart-mobile {
    display: block;
    padding: 30px;
  }
}

.menuToggle {
  display: none;
}

@media (max-width: 767px) {
  .menuToggle {
    display: block;
    background: #fff;
    border: none;
    cursor: pointer;
    padding: 30px;
  }
  .menuToggle > .menuIcon {
    width: 24px;
    height: 24px;
  }
}

#menuToggleSwitch {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

#menuToggleSwitch:checked + .menu {
  visibility: visible;
  opacity: 1;
}

.cartIcon {
  width: 16px;
  height: 16px;
  vertical-align: top;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 767px) {
  .cartIcon {
    width: 24px;
    height: 24px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ---- header ---- */
.header__home {
  background-image: url(../img/home_banner.jpg);
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  height: 496px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .header__home {
    margin: 84px 0 0 0;
    height: 277px;
    background-size: cover;
    background-position: center;
  }
}

.header__products {
  background-image: url(../img/product_banner.png);
  background-repeat: no-repeat;
  margin: 0 0 60px 0;
  width: 100%;
  height: 496px;
}

@media (max-width: 767px) {
  .header__products {
    margin: 84px 0 0 0;
    height: 277px;
    background-size: cover;
    background-position: center right;
  }
}

/* -- subscribe -- */
.subscribe {
  padding: 30px 122px;
}

@media (max-width: 767px) {
  .subscribe {
    padding: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .subscribe__title {
    margin-bottom: 30px;
  }
}

.subscribe__titleText {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #EAF0ED;
  margin-left: 20px;
}

.subscribe__inputArea {
  position: relative;
  font-size: 0;
  min-width: 380px;
}

@media (max-width: 767px) {
  .subscribe__inputArea {
    min-width: 315px;
  }
}

.subscribe__mailIcon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
}

.subscribe__input {
  width: 100%;
  padding: 16px 16px 16px 60px;
  font-size: 20px;
  font-weight: normal;
  background-color: #EAF0ED;
  border: 2px solid #fff;
}

.subscribe__input:focus {
  outline: 2px solid #FFE180;
}

.subscribe__send {
  display: inline-block;
  width: 64px;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #FFE180;
  border: none;
  cursor: pointer;
  padding: 0;
}

.subscribe__send:hover {
  background-color: #ffd54d;
}

/* ---- footer ---- */
.footer {
  padding: 30px 122px;
}

@media (max-width: 767px) {
  .footer {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .footer__logo {
    margin-bottom: 40px;
  }
}

.footer__contact {
  color: #3F5D45;
  line-height: 1.5;
}

.footer__contact-link {
  color: #3F5D45;
}

.footer__contact-link:hover {
  color: #78a481;
}

@media (max-width: 767px) {
  .footer__rightInfo {
    display: none;
  }
}

.footer__bottomInfo {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .footer__bottomInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .footer__media {
    margin-bottom: 30px;
  }
}

.footer__media > li + li {
  margin-left: 8px;
}

.footer__copyright {
  color: #3F5D45;
}

/* ---- product card ---- */
@media (max-width: 767px) {
  .products {
    padding: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .products__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products__card {
  max-width: 300px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.products__card > .featured, .products__card > .addFavortire {
  position: absolute;
  z-index: 1;
}

.products__card > .featured {
  background-color: #3F5D45;
  width: 36px;
  padding: 10px;
  text-align: center;
  color: #fff;
  top: 0;
  left: 20px;
}

.products__card > .featured > span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 0.2em;
}

.products__card > .addFavortire {
  top: 20px;
  right: 20px;
}

.products__card:hover > .products__pic {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 767px) {
  .products__card {
    max-width: 315px;
    margin-bottom: 30px;
  }
  .products__card:hover > .products__pic {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.products__pic {
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transition: all .2s;
  transition: all .2s;
  max-width: 315px;
  max-height: 315px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .products__pic {
    min-width: 315px;
  }
  .products__pic > img {
    width: 100%;
  }
}

.products__info {
  color: #3F5D45;
  text-align: center;
}

.products__name {
  font-size: 20px;
  font-weight: normal;
  padding: 18px 0;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  border-left: 1px solid #EAF0ED;
  border-right: 1px solid #EAF0ED;
  background-color: #fff;
}

.products__amount {
  font-size: 20px;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #EAF0ED;
  background-color: #fff;
}

.products__addCart {
  display: block;
  padding: 16px 0;
  font-size: 24px;
  font-weight: 700;
  color: #3F5D45;
  background-color: #EAF0ED;
}

.products__addCart:hover {
  color: #fff;
  background-color: #3F5D45;
}

/* ---- Cutomized spacing ---- */
.feature {
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .feature {
    padding-bottom: 0;
  }
}

.introduce + .introduce {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .introduce + .introduce {
    margin-top: 0;
  }
}

.slogan {
  margin: 0 auto;
  padding: 80px 0;
}

@media (max-width: 767px) {
  .slogan {
    padding: 30px 0;
  }
}

.products__homePage {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .products__homePage {
    margin-bottom: 0;
  }
}

.products__homePage .products__card + .products__card {
  margin-left: 20px;
}

/* ---- topbar has been imported ---- */
/* ---- header has been imported ---- */
/* ---- feature ---- */
.feature {
  max-width: 780px;
  margin: -85px auto 0 auto;
}

@media (max-width: 767px) {
  .feature {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 0 auto;
  }
}

.feature__item {
  height: 256px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.feature__item-today {
  background: url(../img/daily_featured.jpg) no-repeat center/cover;
}

.feature__item-popularity {
  background: url(../img/papularity.jpg) no-repeat center/cover;
}

.feature__item-new {
  background: url(../img/new_products.jpg) no-repeat center/cover;
}

.feature__item-link {
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(63, 93, 69, 0.75);
  color: #fff;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: .25em;
}

.feature__item-link:hover {
  background-color: rgba(255, 225, 128, 0.75);
  color: #3F5D45;
}

@media (max-width: 767px) {
  .feature__item-link {
    font-size: 20px;
    font-weight: 500;
  }
}

.feature__item + .feature__item {
  border-left: 1px solid #fff;
}

/* ---- introduce ---- */
.introduce {
  height: 460px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(4%, transparent), color-stop(4%, #EAF0ED), color-stop(96%, #EAF0ED), color-stop(96%, transparent));
  background-image: linear-gradient(0deg, transparent 4%, #EAF0ED 4%, #EAF0ED 96%, transparent 96%);
}

@media (max-width: 767px) {
  .introduce {
    height: auto;
    background-image: none;
  }
}

.introduce__content {
  height: 100%;
}

@media (max-width: 767px) {
  .introduce__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .introduce__title {
    padding: 30px 0;
  }
}

.introduce__text {
  max-height: 280px;
  font-size: 16px;
  font-weight: 100;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 2;
  color: #3F5D45;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 767px) {
  .introduce__text {
    width: 100%;
    padding: 30px;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    background-color: #EAF0ED;
  }
}

.introduce__img {
  width: 460px;
  height: 460px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .introduce__img {
    width: 100%;
    max-height: 250px;
  }
}

.introduce__img-1 {
  background-image: url(../img/introduce_1.jpg);
  background-repeat: no-repeat;
}

.introduce__img-2 {
  background-image: url(../img/introduce_2.jpg);
  background-repeat: no-repeat;
}

/* ---- slogan ---- */
/* ---- products card has been imported ---- */
@media (max-width: 767px) {
  .products__homePage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .products__homePage .products__card:not(:first-child) {
    display: none;
  }
}

/* ---- subscribe has been imported ---- */
/* ---- footer has been imported ---- */
/* ---- Cutomized spacing ---- */
.products__productsPage .products__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__productsPage .products__card {
  margin: 0 0 20px 20px;
}

@media (max-width: 767px) {
  .products__productsPage .products__card {
    margin: 0 0 30px 0;
  }
}

.content__productsPage {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .content__productsPage {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pagination {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .pagination {
    margin-top: 0;
  }
}

/* ---- topbar has been imported ---- */
/* ---- header has been imported ---- */
/* ---- sortSection ---- */
.sortSection {
  font-size: 24px;
  font-weight: 500;
  min-width: 300px;
  text-align: center;
  line-height: 1.5;
}

.sortSection > h2, .sortList > li > a {
  padding: 16px 0;
}

.sortSection > h2 {
  background-color: #3F5D45;
  color: #EAF0ED;
}

.sortList > li {
  border-right: 1px solid #EAF0ED;
  border-left: 1px solid #EAF0ED;
  border-bottom: 1px solid #EAF0ED;
}

.sortList > li > a {
  display: block;
  color: #3F5D45;
}

.sortList > li > a:hover {
  background-color: #EAF0ED;
}

/* ---- products has been imported ---- */
/* ---- pagination ---- */
.pagination li a {
  text-align: center;
  width: 100%;
  line-height: 60px;
}

.pagination li:not([class="pagination__numberList"]) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  border: 1px solid #EAF0ED;
}

.pagination__number {
  text-align: center;
  color: #3F5D45;
}

.pagination__number:hover {
  color: #fff;
  background-color: #3F5D45;
}

/* ---- subscribe has been imported ---- */
/* ---- footer has been imported ---- */
/* ---- Input icon ---- */
.input__icon {
  width: 24px;
  height: 24px;
  padding: 4px;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
  opacity: 1;
}

@media (max-width: 767px) {
  .input__icon {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
}

/* ---- Login ---- */
.login {
  margin: 30px 0 60px 0;
  min-height: 380px;
}

@media (max-width: 767px) {
  .login {
    margin: 84px 0 0 0;
    min-height: auto;
  }
}

.login__block {
  -ms-flex-preferred-size: 390px;
      flex-basis: 390px;
  height: 350px;
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: #EAF0ED;
}

@media (min-width: 768px) {
  .login__block:hover {
    height: 380px;
    background-color: #3F5D45;
  }
}

@media (max-width: 767px) {
  .login__block {
    background-color: #3F5D45;
    height: auto;
  }
}

.login__member {
  position: relative;
}

.login__social {
  padding: 40px 30px;
  margin-left: 5px;
}

/* ---- Member ---- */
.member__form-wrap {
  padding: 0 30px;
  margin-bottom: 25px;
}

.member__title {
  font-size: 36px;
  font-weight: 700;
  padding: 25px;
  color: #8DA291;
  text-align: center;
  line-height: 1.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (max-width: 767px) {
  .member__title {
    color: #EAF0ED;
  }
}

.member__inputArea {
  margin-bottom: 16px;
  position: relative;
}

.member__input {
  font-size: 20px;
  font-weight: normal;
  width: 100%;
  padding: 16px 16px 16px 64px;
  border: none;
  -webkit-transition: all .3s .1s;
  transition: all .3s .1s;
}

@media (max-width: 767px) {
  .member__input {
    background-color: #EAF0ED;
  }
}

.member__input:focus {
  padding: 16px;
  outline: 2px solid #FFE180;
}

.member__input:focus + .input__icon {
  opacity: 0;
}

.member__input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  color: #8DA291;
}

.member__input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  color: #8DA291;
}

.member__input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  color: #8DA291;
}

.member__input::placeholder {
  font-size: 16px;
  font-weight: normal;
  color: #8DA291;
}

.member__password {
  letter-spacing: .5em;
}

.member__password::-webkit-input-placeholder {
  letter-spacing: 0;
}

.member__password:-ms-input-placeholder {
  letter-spacing: 0;
}

.member__password::-ms-input-placeholder {
  letter-spacing: 0;
}

.member__password::placeholder {
  letter-spacing: 0;
}

.member__loginBtn {
  font-size: 24px;
  font-weight: 700;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding: 16px 0;
  color: #EAF0ED;
  background-color: #8DA291;
  border: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: absolute;
  bottom: 0;
}

@media (max-width: 767px) {
  .member__loginBtn {
    position: relative;
    color: #3F5D45;
    background-color: #FFE180;
  }
}

.remember__label {
  font-size: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.remember__label > input[type="checkbox"] {
  display: none;
}

.remember__label > input[type="checkbox"]:checked + .remember__checkbox {
  background-image: url(../img/checkbox_checked.svg);
  background-repeat: no-repeat;
}

.remember__text {
  font-size: 16px;
  font-weight: normal;
  padding-left: 8px;
  color: #8DA291;
}

@media (max-width: 767px) {
  .remember__text {
    color: #EAF0ED;
  }
}

.remember__checkbox {
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
  position: relative;
  width: 16px;
  height: 16px;
  vertical-align: sub;
  display: inline-block;
  border: 1px solid #8DA291;
  -webkit-transition: all .2s;
  transition: all .2s;
}

/* ---- Member hover ---- */
@media (min-width: 768px) {
  .login__member:hover .member__title {
    color: #EAF0ED;
    padding: 40px 0;
  }
  .login__member:hover .member__input {
    background-color: #EAF0ED;
  }
  .login__member:hover .input__icon {
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  .login__member:hover .remember__checkbox {
    border: 1px solid #3F5D45;
  }
  .login__member:hover .remember__text {
    color: #EAF0ED;
  }
  .login__member:hover .member__loginBtn {
    color: #3F5D45;
    background-color: #FFE180;
  }
  .login__member:hover .member__loginBtn:hover {
    background-color: #ffd54d;
  }
}

/* ---- Social ---- */
.login__social {
  background-color: #EAF0ED;
}

@media (max-width: 767px) {
  .login__social {
    display: none;
  }
}

.social__title {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 36px;
  color: #8DA291;
  text-align: center;
  line-height: 1.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social__title:before, .social__title:after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px solid #8DA291;
}

.social__title:before {
  margin-right: .5em;
}

.social__title:after {
  margin-left: .5em;
}

@media (max-width: 767px) {
  .social__list {
    padding: 30px;
    margin-bottom: 30px;
    background: #EAF0ED;
  }
}

.social__list-pad {
  display: none;
}

@media (max-width: 767px) {
  .social__list-pad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.social__item {
  width: 100%;
  background-color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social__item-link {
  height: 56px;
  background-position: center;
}

.social__item-facebook {
  background-image: url(../img/ic-facebook-logotype.png);
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .social__item-facebook {
    background-image: url(../img/ic-facebook-logotype_pad.png);
    background-repeat: no-repeat;
  }
}

.social__item-google {
  background-image: url(../img/ic-google.png);
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .social__item-google {
    background-image: url(../img/ic-google_pad.png);
    background-repeat: no-repeat;
    background-position: center 60%;
  }
}

.social__item-yahoo {
  background-image: url(../img/ic-yahoo.png);
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .social__item-yahoo {
    background-image: url(../img/ic-yahoo_pad.png);
    background-repeat: no-repeat;
  }
}

.social__item + .social__item {
  margin: 16px 0 0 0;
}

@media (max-width: 767px) {
  .social__item + .social__item {
    margin: 0 0 0 1px;
  }
}

/* ---- Social hover ---- */
.login__social:hover .social__title {
  color: #EAF0ED;
  padding: 8px 0;
}

.login__social:hover .social__title:before, .login__social:hover .social__title:after {
  border-bottom: 1px solid #EAF0ED;
}

.login__social:hover .social__item {
  background-color: #EAF0ED;
}

.login__social:hover .social__item:hover {
  background-color: #FFE180;
}

.login__social:hover .social__item + .social__item {
  margin-top: 24px;
}

.content__cartPage {
  margin: 30px 0 40px 0;
}

@media (max-width: 767px) {
  .content__cartPage {
    margin: 84px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.cart {
  -ms-flex-preferred-size: 620px;
      flex-basis: 620px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .cart {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-right: 0;
  }
}

.cart__title {
  font-size: 24px;
  font-weight: 700;
  padding: 16px 0;
  margin-bottom: 13px;
  color: #3F5D45;
  background-color: #EAF0ED;
  text-align: center;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .cart__title {
    margin-bottom: 30px;
  }
}

.cart__item {
  padding: 20px 0;
}

@media (max-width: 767px) {
  .cart__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin-bottom: 30px;
  }
}

.cart__item + .cart__item {
  border-top: 1px solid #EAF0ED;
}

@media (max-width: 767px) {
  .cart__item + .cart__item {
    border-top: none;
  }
}

.cart__prodPic {
  max-width: 110px;
}

@media (max-width: 767px) {
  .cart__prodPic {
    margin-right: 16px;
    width: 157px;
    max-width: 100%;
    height: 106px;
    overflow: hidden;
    position: relative;
  }
  .cart__prodPic > img {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.cart__content {
  -ms-flex-preferred-size: 290px;
      flex-basis: 290px;
}

@media (max-width: 767px) {
  .cart__content {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart__info {
  color: #3F5D45;
  line-height: 1.5;
}

.cart__prodName {
  font-size: 20px;
  font-weight: 300;
}

.cart__prodPrice {
  font-size: 16px;
  font-weight: 300;
}

.cart__prodCount {
  border: 1px solid #EAF0ED;
}

.cart__prodCount > button, .cart__prodCount .prodCount__number {
  width: 48px;
  line-height: 48px;
  color: #3F5D45;
}

.cart__prodCount > button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.cart__prodCount > button:hover {
  color: #fff;
  background-color: #3F5D45;
}

.cart__prodCount > .prodCount__number {
  text-align: center;
  border-left: 1px solid #EAF0ED;
  border-right: 1px solid #EAF0ED;
}

.cart__amount {
  font-size: 20px;
  font-weight: 500;
  color: #3F5D45;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .cart__amount {
    padding: 8px 0;
    margin: 8px 30px 0 30px;
    width: 100%;
    text-align: right;
    border-top: 1px solid #EAF0ED;
    border-bottom: 1px solid #EAF0ED;
  }
}

.cart__amount span {
  display: inline-block;
}

.cart__delete {
  background-image: url(../img/trash-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 60%;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-width: 767px) {
  .cart__delete {
    display: none;
  }
}

.cart__delete:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.order {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  background-color: #3F5D45;
}

@media (max-width: 767px) {
  .order {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    background-color: transparent;
  }
}

.order__title {
  font-size: 24px;
  font-weight: 700;
  padding: 16px 0;
  color: #EAF0ED;
  text-align: center;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .order__title {
    margin: 0 30px;
    color: #3F5D45;
    background-color: #EAF0ED;
  }
}

.order__summary {
  margin: 0 20px 0 20px;
  padding: 16px 0;
  border-top: 1px solid #EAF0ED;
}

@media (max-width: 767px) {
  .order__summary {
    margin: 0 30px 0 30px;
    border-top: none;
  }
}

.order__item {
  font-size: 16px;
  font-weight: 300;
  color: #EAF0ED;
  line-height: 1.5;
}

.order__item + .order__item {
  margin-top: 8px;
}

@media (max-width: 767px) {
  .order__item {
    color: #3F5D45;
  }
}

.order__item span {
  display: inline-block;
}

.order__total {
  font-size: 20px;
  font-weight: 500;
  margin: 0 20px 16px 20px;
  color: #EAF0ED;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .order__total {
    margin: 0 30px 16px 30px;
    color: #3F5D45;
  }
}

.order__total span {
  display: inline-block;
}

.order__checkout {
  font-size: 24px;
  font-weight: 700;
  padding: 16px 0;
  width: 100%;
  color: #3F5D45;
  background-color: #FFE180;
  border: none;
  cursor: pointer;
}

.order__checkout:hover {
  background-color: #ffd54d;
}
